<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mychat.mapper.UserContactApplyMapper">

    <resultMap id="BaseResultMap" type="com.mychat.entity.po.UserContactApply">
            <id property="applyId" column="apply_id" />
            <result property="applyUserId" column="apply_user_id" />
            <result property="receiveUserId" column="receive_user_id" />
            <result property="contactType" column="contact_type" />
            <result property="contactId" column="contact_id" />
            <result property="lastApplyTime" column="last_apply_time" />
            <result property="status" column="status" />
            <result property="applyInfo" column="apply_info" />
    </resultMap>

    <sql id="Base_Column_List">
        apply_id,apply_user_id,receive_user_id,contact_type,contact_id,last_apply_time,
        status,apply_info
    </sql>

    <select id="loadApply" resultType="com.mychat.entity.po.UserContactApply">
        SELECT
            a.*,
            CASE a.contact_type
                WHEN 0 THEN
                    u.nick_name
                WHEN 1 THEN
                    g.group_name
                END as contactName
        FROM
            user_contact_apply a
                LEFT JOIN user_info u on a.apply_user_id = u.user_id
                LEFT JOIN group_info g on a.apply_user_id = g.group_id
        WHERE
            a.receive_user_id = #{receiveUserId}
        ORDER BY last_apply_time DESC
    </select>
</mapper>
